



<div class="main-container">
  <div class="row">



    <div class="col-lg-12 col-xl-7">

      <div class="search-form">
        <%= form_tag equipment_index_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form-control search-window",
          placeholder: "Search..."
          %>
        <% end %>
      </div>


      <div class="equipment-categories avatar-big">
        <% Equipment::CATEGORIES.each do |category| %>

          <%= link_to equipment_index_path(category: category[:name]), class:"#{'active' if params[:category] == category[:name]}" do %>

              <%= category[:name] %>
          <% end %>
        <% end %>
      </div>

      <div class="cards-equipment">

      <% @equipments.each do |equipment| %>
        <div class="card-equipment">
          <div class="card-equipment-image">
            <%= cl_image_tag("vhfgpfyz8o8oi9qg6a5d", width: 280, height: 180, crop: :fill) %>
          </div>
          <div class="card-equipment-infos">
            <%= link_to equipment_path(equipment) do %>
            <div class="card-left">
              <h4><%= "#{equipment.category} in #{equipment.location}" %></h4>
              <h3><%= equipment.name %></h3>
              <hr>
              <p><%= equipment.description %></p>

              <span class="badge badge-primary"><%= "£#{equipment.price}/day"  %></span>

              <% @review_tally = 0 %>
              <% equipment.reviews.each do |review| %>
                <% @review_tally += review.rating %>
              <% end %>
              <% @review_tally = (@review_tally / equipment.reviews.count) if equipment.reviews.count >= 1 %>
              <p id="stars"><%="⭐️" * @review_tally.round%></p>


            </div>
            <div class="card-right">
              <p><%= link_to "Rent now!", new_equipment_booking_path(equipment), class:"btn submit-button" unless equipment.user == current_user %></p>
            </div>



            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="col-lg-12 col-xl-5">
    <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>


</div>

