<h1>Equipment Near You</h1>
<%= link_to "+Create new equipment", new_equipment_path %>




<div class="main-container">
  <div class="row">
    <div class="col-lg-7">
      <div class="cards-equipment">
      <% @equipments.each do |equipment| %>
        <div class="cards-equipment">

          <div class="card-equipment-infos">
            <%= link_to equipment_path(equipment) do %>
              <p><%= "#{equipment.category} in #{equipment.location}" %></p>
              <h3><%= equipment.name %></h3>
              <p><%= equipment.description %></p>
              <p><%= "£#{equipment.price}/day"  %></p>
            <% end %>
          </div>

          <button>Rent now!</button>
        </div>

      <% end %>
    </div>
  </div>

  <div class="col-lg-5">
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>


</div>
