



<div class="main-container">
  <div class="row">
    <div class="col-lg-7">
      <div class="cards-equipment">

      <div class="equipment-categories avatar-big">
        <%= cl_image_tag("rdzsifgnzxqpdzmrnvqz", width: 80, height: 80, crop: :fill) %>
        <%= cl_image_tag("lgvsilnnvawggycfmfic", width: 80, height: 80, crop: :fill) %>
        <%= cl_image_tag("zc1dddfvehfvajby6k2l", width: 80, height: 80, crop: :fill) %>
        <%= cl_image_tag("y9zrpzv7pwx7q5whoqez", width: 80, height: 80, crop: :fill) %>
        <%= cl_image_tag("u8uexmnhmdau477cmnb2", width: 80, height: 80, crop: :fill) %>
      </div>

      <% @equipments.each do |equipment| %>
        <div class="card-equipment">
          <div class="card-equipment-image">
            <%= cl_image_tag("vhfgpfyz8o8oi9qg6a5d", width: 280, height: 180, crop: :fill) %>
          </div>
          <div class="card-equipment-infos">
            <%= link_to equipment_path(equipment) do %>
              <p><%= "#{equipment.category} in #{equipment.location}" %></p>
              <h3><%= equipment.name %></h3>
              <p><%= equipment.description %></p>
              <div class="card-center">
                <p><%= "£#{equipment.price}/day"  %></p>
                <p><%= link_to "Rent now!", new_equipment_booking_path(equipment), class:"btn submit-button" %></p>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="col-lg-5">
    <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>


</div>

