<div class="container d-flex justify-content-center mb-4">
  <div class="row d-flex justify-content-center p-5 shadow-sm bg-white form-card">
    <div class="col-8 new-form">
      <h1 class="text-center mb-4">Add a piece of equipment</h1>
      <hr align="left" width="15%" class="orange-title-bar mb-3">
        <%= simple_form_for(@equipment) do |f| %>
          <%= f.input :name, placeholder: "Name" %>
          <%= f.input :description, placeholder: "Description" %>
          <%= f.input :category, placeholder: "Category" %>
          <%= f.input :location, placeholder: "Location" %>
          <%= f.input :price, placeholder: "Price" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>

          <div class="submit-button text-center new-form-submit-button">
            <%= f.button :submit, "Add now!" %>
          </div>

        <% end %>
    </div>
  </div>
</div>
