<h1>Create new equipment</h1>
<%= simple_form_for(@equipment) do |f| %>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.input :description, placeholder: "Description" %>
    <%= f.input :cateogry, placeholder: "Category" %>
    <%= f.input :location, placeholder: "Location" %>
    <%= f.input :price, placeholder: "Price" %>


    <div class="submit-button">
      <%= f.button :submit, "+ Create new equipment" %>
    </div>

  <% end %>
