<h1>Your Pending Bookings</h1>

<ol>
  <%=@bookings.each do |booking|  %>
  <li><%= booking.start_date %> || <%= booking.end_date %> || <%= booking.status%></li>
  <h3><%= booking.equipment.name%></h3>
  <% end %>
</ol>

